src/credentials/*
*__pycache__/
src/functions/check_sales/token.json
src/client.py
src/bot/listener.py
src/functions/telegram/test.py
src/bot/server/paths.py

db_data/*


# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json

*.env
src/functions/bd_update_banks/key.json

src\functions\requirements.txt
