<html>

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>

    <style>

        #api_partner {
            width: 300px;
            height: 200px;
            border: 1px solid rgb(148, 148, 148);
            padding: 30px;
            border-radius: 10px;
            text-align: center;
        }

    </style>

</head>

<body>

    <h1>Integrações</h1>  

    <div id="api_partner">

        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/IFood_logo.svg/2560px-IFood_logo.svg.png" alt="Ifood Logo" width="200px" height="100px">
        <br><br><br>
        <button id="ifood_login">Conectar ao Ifood</button>
        <br><br>
        Status: Não conectado


    </div>


</body>

</html>