name: 'CD - GCP - Cloud Functions (BD Transaction)'

on:
  push:
    branches: master
    paths:
      - 'src/functions/bd_transaction/**'
  pull_request:
    types: closed
    branches: master
    paths:
      - 'src/functions/bd_transaction/**'



jobs:

  test:
    uses: ./.github/workflows/cd_functions_base.yml

  deploy_base:
    uses: ./.github/workflows/cd_functions_base.yml
    

  deploy:
    name: 'Deploy BD Transaction'
    runs-on: ubuntu-latest
    needs: deploy_base
    
    steps:
    
    - id: 'deploy-bd-transaction'
      name: 'Deploy BD Transaction'
      uses: 'google-github-actions/deploy-cloud-functions@v3'
      with:
        source_dir: 'src/functions/bd_transaction/'
        entry_point: 'check'
        secrets: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/latest'
        name: 'function-bd-transaction'
        runtime: 'python312'