name: 'CD - GCP - Cloud Functions (BD Update From Banks)'

on:
  push:
    branches: [gcp_cloud_run_db-update-from-banks_main]
  pull_request:
    types: [closed]
    branches: [gcp_cloud_run_db-update-from-banks_main]


jobs:

  test:

    name: 'Test'
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        python-version: ["3.10"]

    steps:
      
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pwd
          ls -lah
          pip install -r src/functions/bd_update_banks/requirements.txt

      - name: Run tests
        run: |
          pytest



  deploy:

    name: 'Deploy to GCP Cloud Functions'
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'
    
    environment: prod
    env:
      GOOGLE_SERVICE_ACCOUNT_KEY : ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}
    
    needs: test

    steps:

      - name: Checkout
        uses: 'actions/checkout@v4'

      - id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: '${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}'


      - id: 'deploy-bd-update-from-banks'
        name: 'Deploy BD Update From Banks'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/bd_update_banks/'
          entry_point: 'check'
          event_trigger_type: 'google.cloud.pubsub.topic.v1.messagePublished'
          event_trigger_pubsub_topic: projects/${{ secrets.GCP_PROJECT_ID }}/topics/${{ secrets.IMPORT_BD_TOPIC_ID }}
          secrets: |-
            GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/latest
            REGION=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/REGION/versions/latest
            GCP_PROJECT_ID=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GCP_PROJECT_ID/versions/latest
            MY_CNPJ=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/MY_CNPJ/versions/latest
          name: 'function-bd-update-from-banks'
          runtime: 'python312'