name: 'CD - GCP - Cloud Functions'

on:
  push:
    branches: [master_all_functions]


jobs:

  test:
    uses: ./.github/workflows/cd_functions_base.yml
    secrets: inherit

  deploy_base:
    uses: ./.github/workflows/cd_functions_base.yml
    secrets: inherit


  deploy:

    name: 'Deploy All Functions'
    runs-on: ubuntu-latest
    needs: deploy_base

    steps:

      - id: 'deploy-sales'
        name: 'Deploy Sales'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/check_sales/'
          entry_point: 'check'
          name: 'function-check-sales-day'
          runtime: 'python310'
          event_trigger_type: 'google.cloud.pubsub.topic.v1.messagePublished'
          event_trigger_pubsub_topic: projects/${{ secrets.GCP_PROJECT_ID }}/topics/${{ secrets.SALES_TOPIC_ID }}
          secrets: |-
            GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/latest
            REGION=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/REGION/versions/latest
            GCP_PROJECT_ID=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GCP_PROJECT_ID/versions/latest
            MY_CNPJ=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/MY_CNPJ/versions/latest
      
      
      - id: 'deploy-telegram'
        name: 'Deploy Telegram'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/telegram/'
          entry_point: 'check'
          secret_environment_variables: 'TELEGRAM_API_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/TELEGRAM_API_KEY/versions/latest'
          name: 'function-telegram'
          runtime: 'python310'
          timeout: '240s'


      - id: 'deploy-bank-auto-classification'
        name: 'Deploy Bank Auto Classification'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/bank_auto_classification/'
          entry_point: 'check'
          secret_environment_variables: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/latest'
          name: 'function-bank-auto-classification'
          runtime: 'python310'
          timeout: '540s'


      - id: 'deploy-bank-next-pendency'
        name: 'Deploy Bank Next Pendency'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/bank_next_pendency/'
          entry_point: 'check'
          secret_environment_variables: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/'
          name: 'function-bank-next-pendency'
          runtime: 'python310'
          timeout: '540s'


      - id: 'deploy-bd-transaction'
        name: 'Deploy BD Transaction'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/bd_transaction/'
          entry_point: 'check'
          secret_environment_variables: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/'
          name: 'function-bd-transaction'
          runtime: 'python310'
          timeout: '240s'


      - id: 'deploy-erp-pendency'
        name: 'Deploy ERP Pendency'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/erp_pendency/'
          entry_point: 'check'
          secret_environment_variables: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/'
          name: 'function-erp-pendency'
          runtime: 'python310'
          timeout: '540s'


      - id: 'deploy-erp-classes'
        name: 'Deploy ERP Classes'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/erp_classes/'
          entry_point: 'check'
          secret_environment_variables: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/'
          name: 'function-erp-classes'
          runtime: 'python310'
          timeout: '540s'





      - id: 'deploy-week-payments'
        name: 'Deploy Week Payments'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/erp_week_payments/'
          entry_point: 'check'
          name: 'function-week_payments'
          runtime: 'python310'
          event_trigger_type: 'google.cloud.pubsub.topic.v1.messagePublished'
          event_trigger_pubsub_topic: projects/${{ secrets.GCP_PROJECT_ID }}/topics/${{ secrets.WEEK_PAYMENTS_TOPIC_ID }}
          secret_environment_variables: |-
            GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/
            REGION=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/REGION/versions/
            GCP_PROJECT_ID=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GCP_PROJECT_ID/versions/
          timeout: '540s'

      
      - id: 'deploy-bank-download-api'
        name: 'Deploy Bank Download API'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/bank_download/'
          entry_point: 'check'
          name: 'function-bank-download-api'
          runtime: 'python310'
          event_trigger_type: 'google.cloud.pubsub.topic.v1.messagePublished'
          event_trigger_pubsub_topic: projects/${{ secrets.GCP_PROJECT_ID }}/topics/download-all-banks-sub
          secret_environment_variables: |-
            GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/
            REGION=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/REGION/versions/
            GCP_PROJECT_ID=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GCP_PROJECT_ID/versions/
          timeout: '540s'

      - id: 'deploy-ifood_alive'
        name: 'Deploy Ifood Alive'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/ifood_alive/'
          entry_point: 'check'
          name: 'function-ifood-alive'
          runtime: 'python310'
          event_trigger_type: 'google.cloud.pubsub.topic.v1.messagePublished'
          event_trigger_pubsub_topic: projects/${{ secrets.GCP_PROJECT_ID }}/topics/${{ secrets.IFOOD_ALIVE_TOPIC_ID }}
          secret_environment_variables: |-
            REGION=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/REGION/versions/
            GCP_PROJECT_ID=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GCP_PROJECT_ID/versions/
          timeout: '540s'