name: 'CD - GCP - Cloud Functions (BD Transaction)'

on:
  workflow_dispatch:
  pull_request:
    types: closed
    branches: master
    paths:
      - 'src/functions/bd_transaction/**'



jobs:

  test:
    uses: ./.github/workflows/cd_functions_base.yml
    secrets: inherit    

  deploy:
    name: 'Deploy BD Transaction'
    runs-on: ubuntu-latest
    needs: test
    
    permissions:
        contents: 'read'
        id-token: 'write'
    
    environment: prod
    env:
        GOOGLE_SERVICE_ACCOUNT_KEY: ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}    
    
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - id: 'auth'
      uses: 'google-github-actions/auth@v3'
      with:
        credentials_json: '${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}'
    
    - id: 'deploy-bd-transaction'
      name: 'Deploy BD Transaction'
      uses: 'google-github-actions/deploy-cloud-functions@v3'
      with:
        source_dir: 'src/functions/bd_transaction/'
        entry_point: 'check'
        secrets: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/latest'
        name: 'function-bd-transaction'
        runtime: 'python312'