name: 'CD - GCP - Cloud Functions (BD Transaction)'

on:
  push:
    branches: [gcp_cloud_run_db-transaction_main]


jobs:

  test:

    name: 'Test'
    runs-on: ubuntu-latest
    strategy: 
      matrix:
        python-version: ["3.12"]

    steps:
      
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pwd
          ls -lah
          pip install -r src/functions/bd_update_banks/requirements.txt

      - name: Run tests
        run: |
          pytest



  deploy:

    name: 'Deploy to GCP Cloud Functions'
    runs-on: ubuntu-latest

    permissions:
      contents: 'read'
      id-token: 'write'
    
    environment: prod
    env:
      GOOGLE_SERVICE_ACCOUNT_KEY : ${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}
    
    needs: test

    steps:

      - name: Checkout
        uses: 'actions/checkout@v4'

      - id: 'auth'
        uses: 'google-github-actions/auth@v3'
        with:
          credentials_json: '${{ secrets.GOOGLE_SERVICE_ACCOUNT_KEY }}'

      - id: 'deploy-bd-transaction'
        name: 'Deploy BD Transaction'
        uses: 'google-github-actions/deploy-cloud-functions@v3'
        with:
          source_dir: 'src/functions/bd_transaction/'
          entry_point: 'check'
          secrets: 'GOOGLE_SERVICE_ACCOUNT_KEY=projects/${{ secrets.GCP_PROJECT_ID }}/secrets/GOOGLE_SERVICE_ACCOUNT_KEY/versions/'
          name: 'function-bd-transaction'
          runtime: 'python312'